html, body, p, #root {
  margin: 0;
  padding: 0 auto;
}

/*
  Inherits " box-sizing: border-box; "
  through out app
*/
html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-y: scroll;
}


a {
  text-decoration: none;
  color: inherit;
}

.scrollBar {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

:root {
  --pagebar-height: 50px;
  --primary-color: #ff5252;

  /* Colors */
  --font-color: #e1e1ff;
  --bg-color: #222;
  --border-color: #e1e1ff;
  --footer-color: black;
  --anchor-link-color: #1A73E8;


  /* font size */
  --fsz-vsmall: 10px;
  --fsz-small: 12px;
  --fsz-normal: 14px;
  --fsz-large: 16px;

  --fsz-header: 2em;
  --fsz-large-header: 4em;
  --fsz-description: 24px;

  --ls-normal: 1px;


  /* Font weights */


  /* Padding */
  --r-padding: 2rem;

  /* Margin */
  --responsive-margin: 2rem;

}

[data-theme="light"] {
  --pagebar-height: 50px;
  --primary-color: #ff5252;

  /* Colors */
  --font-color: #424242;
  --bg-color: #e0e0e0;
  --border-color: #424242;
  --footer-color: #222;
  --anchor-link-color: #1A73E8;

  /* font size */
  --fsz-vsmall: 10px;
  --fsz-small: 12px;
  --fsz-normal: 14px;
  --fsz-large: 16px;

  --fsz-header: 2em;
  --fsz-large-header: 4em;
  --fsz-description: 24px;

  --ls-normal: 1px;


  /* Font weights */

  /* Padding */
  --r-padding: 2rem;

  /* Margin */
  --responsive-margin: 2rem;
}


@media (max-width: 576px) {
  :root {
    --fsz-large-header: 3em;

  }

  [data-theme="light"] {
    --fsz-large-header: 3em;
  }
}



body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: var(--fsz-large);
  letter-spacing: var(--ls-normal);
  font-family: 'Oswald', sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 1px;
  max-width: 100vw;
}

