.pageContainer {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  font-size: var(--fsz-large);
}

.headerText {
  font-size: var(--fsz-large-header);
  margin-bottom: 20px;
}

.mailIconClass {
  height: 20px
}

.mailContainer {
  margin-bottom: 10px;
}


@media (max-width: 576px) {

}
