.container {
  border: var(--border-color);
  height: var(--pagebar-height);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}

.tabsContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.eachTab {
  border: 1px solid black;
  padding: var(--responsive-tab-padding);
  color: var(--tab-font-color);
  text-transform: uppercase;
  font-weight: 500;
}

.tab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 15px;
  position: relative;
}

.inactiveTab:hover {
  color: #858E8B;
}

.inactiveTab {
  composes: tab;
  color: #cccccc;
  font-weight: 700;
  transition: color .3s ease;
}

.activeTab {
  composes: tab;
  font-weight: 700;
  color: var(--active-tab-font-color);
  transition: color .3s ease;
}

.themeIcon {
  right: 2rem;
  position: absolute;
  cursor: pointer;

  height: 30px;
  width: 35px;
}
