.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px var(--r-padding);
}

.footer {
  background-color: var(--footer-color);
}

.item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activeItemText {
  transition: color .5s ease;
  color: var(--primary-color);
}

.inActiveItemText {
  color: white;
}

.dot {
  border-radius: 8px;
  width: 4px;
  height: 4px;
  margin-top: 2px;
}

.activeDot {
  composes: dot;
  background-color: var(--primary-color);
}

.inActiveDot {
  composes: dot;
  visibility: hidden;
}

@media (max-width: 576px) {
  .app {
    margin-bottom: 80px;
  }
}
