:root {
  --typewriterSpeed: 6s;
  --animation-steps: 24;
}

.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.imageContainer {
  max-height: 30rem;
  max-width: 24rem;
  overflow: hidden;
  padding: 2rem;
  opacity: 0;
  animation: fade-up 2s ease forwards;
  overflow-y: hidden;
  transform: translateY(50%);
  z-index: 2;
}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.myImage {
  height: 100%;
  width: 100%;
}

.description {
  font-size: clamp(.8rem, 2vw + .6rem, 1.8rem);
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.selfText {
  animation: slide-down 5s ease-in-out 1s forwards;
  opacity: 0;
  overflow-x: hidden;
  transform: translateX(-100%);
}

@keyframes slide-down {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.name {
  color: var(--primary-color);
}

.para2 {
  margin-top: 20px;
}

.link {
  font-size: 18px;
}

.linkContainer {
  margin: 35px 0;
}


/* ------------- */

.welcomeText {
  font-family: "Source Code Pro", monospace;
  color: var(--font-color);
  width: max-content;
  overflow: hidden;
  position: relative;
  font-size: clamp(1rem, 2vw + .8rem, 4rem);
  margin-bottom: 20px;
}

.welcomeText::before,
.welcomeText::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcomeText::before {
  width: 100%;
  background-color: var(--bg-color);

  animation: typewrite 6s steps(var(--animation-steps)) 1s forwards;
}


.welcomeText::after {
  width: 0.125em;
  background: var(--border-color);
  opacity: 0;
  animation:
      typewrite 6s steps(var(--animation-steps)) 1s forwards,
      blink 550ms steps(var(--animation-steps)) 0.5s infinite;
}

@keyframes typewrite {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
    opacity: 1;
  }
}

/* -------------- */

@media (max-width: 576px) {
  .pageContainer {
    align-items: unset;
  }

  .linkContainer {
    margin-top: 20px;
  }
}
