.link {
  color: var(--anchor-link-color);
  text-decoration: none;
}

.linkContainer {
  width: fit-content;
  padding-bottom: 0.04rem;
  background: transparent;
}

.linkHighlight {
  height: 2px;
  opacity: 0.5;
  background-color: var(--anchor-link-color);
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.linkContainer:hover .linkHighlight {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

